<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='tweet.js'>

    </script>
  </head>
  <body>
    {{{body}}}
    <footer>
    Copyright &copy; (Piwakawaka-2016) Mel, Gaby, Katherine, Gaela and Michael
    </footer>
  </body>
</html>
