<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <footer>
    Copyright &copy; (Piwakawaka-2016) Mel, Gaby, Katherine, Gaela and Michael
    </footer>
  </body>
</html>
